@import "compass/css3/box-shadow";

.container {
  padding: 10px 20px 20px 20px;
}

.body {
  min-height: 100%
}

h1 {
  font-size: 21px;
  margin-bottom: 20px;
}

.profile_image {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
}

.bio {
  margin-bottom: 50px;
  padding: 10px;
}

.subsection {
  margin: 30px 0;
  padding: 0 10px;
}

.footer {
  overflow: hidden;
  font-weight: 600;
  blockquote { font-size: 18px; line-height: 1.4; margin: 20px 20px 0 20px; }
  .quote-source { font-size: 14px; }
}
