@import "compass/css3/box-shadow";

$background_color: darken(#fdfdfd, 5%);
$text_color: #111111;
$heading_green: #3BB304;
$text_green: darken($heading_green, 10%);
$border_color: lighten($text_color, 70%);

$footer_background_color: lighten($text_color, 40%);
$footer_text_color: darken($background_color, 5%);

// css resets

// border box all the things!
* {
  box-sizing: border-box;
}

/*
	Margin, padding, and border resets
	except for form elements
*/

body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
}

/*
	Consistency fixes
	adopted from http://necolas.github.com/normalize.css/
*/

article, aside, details, figcaption, figure, 
footer, header, hgroup, nav, section, audio, canvas, video {
	display: block;
}
// End Resets

body {
  background-color: $background_color;
  color: $text_color;
  font: 18px/1.4 "Helvetica Neue", Helvetica, sans-serif;
}

.profile_image {
  img { width: 100%;  }
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.bio p {
  &:first-child {
    font-size: 21px;
    a { font-weight: 600; }
  }
  strong { font-weight: 600; }
  & + p { margin-top: 20px; }
}

.green {
  color: $text_green;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 48px;
  font-weight: 300;
  line-height: 1;

  .who { font-weight: 300; }
  .is { font-weight: 400; }
  .john-barton { color: $heading_green; font-weight: 600; margin-left: 3px; }
  .dot-com { font-weight: 800; }
}

.subsection.words {
  clear: left;
}

h2 {
  font-size: 14px;
  line-height: 1;
  padding-bottom: 7px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 12px;
  border-bottom: 1px solid $border_color;
  @include box-shadow(0 2px 3px -2px $border_color);
  color: lighten($text_color, 40%);
}

a {
  color: $text_green;
  text-decoration: none;
  border-bottom: 1px dotted $text_green;
}

li {
  list-style-type: square;
  margin-left: 17px;
  line-height: 1.4em;
  padding-bottom: 0.5em;
  font-size: 0.8em;
  color: lighten($text_color, 30%);
}

.footer {
  @include box-shadow(0 3px 3px 0 darken($footer_background_color, 5%) inset);

  a {
    color: darken($text_green, 10%);
    border-bottom: 1px dotted darken($text_green, 10%);
    font-weight: 400;
  }

  font-weight: 300;
  color: #bbb;
  margin-top: 50px;
  padding-top: 25px;
  padding-bottom: 50px;
  clear: both;
  background-color: $footer_background_color;
  text-align: center;

  .quote-source {
    display: inline-block;
    margin: 20px 0;
    &::before {
      content: "\2014";
      margin-right: 0.5em;
    }
  }

  blockquote {
    font-family: Georgia;
    font-size: 38px;
    line-height: 1.2;

    &::before {
      content: "\201C";
      font-size: 2.5em;
      line-height: 0.1em;
      vertical-align: -0.3em;
      margin-right: 0.15em;
    }
  }
}
