@import "compass/css3/box-shadow";

$background_color: #fdfdfd;
$text_color: #111111;
$heading_green: #3BB304;
$text_green: darken($heading_green, 10%);

$content_width: 800px;
$image_width: 300px;

$gutter_width: 20px;

// css resets

// border box all the things!
* {
  box-sizing: border-box;
}

/*
	Margin, padding, and border resets
	except for form elements
*/

body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
}

/*
	Consistency fixes
	adopted from http://necolas.github.com/normalize.css/
*/

article, aside, details, figcaption, figure, 
footer, header, hgroup, nav, section, audio, canvas, video {
	display: block;
}
// End Resets

body {
  background-color: $background_color;
  color: $text_color;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.content {
  width: 800px;
  margin: 0 auto;
  padding-top: 30px;
  overflow: hidden;
}

.profile_image {
  display: block;
  float: left;
}

.bio {
  float: left;
  width: $content_width - $image_width - $gutter_width;
  margin: 0 $gutter_width / 2;

  min-height: $image_width;
}

.bio p {
  margin: 0 1em 2em;
  line-height: 1.6em;
  font-size: 1.2em;
}

.subsection {
  float: left;
  width: $content_width / 3 - $gutter_width;
  margin: 2em 28px 0 0;

  &:last-of-type {
    margin-right: 0;
  }
}

.green {
  color: $text_green;
}

h1 {
  text-align: right;
  font-size: 4em;
  margin-bottom: 0.3em;
  border-bottom: 1px solid lighten($text_color, 50%);
  @include box-shadow(0 2px 3px -2px lighten($text_color, 50%));

  .green {
    color: $heading_green;
  }
}

h2 {
  font-size: 1.9em;
  margin-bottom: 10px;
  color: lighten($text_color, 30%);
}

a {
  color: $text_green;
  text-decoration: none;
  border-bottom: 1px dotted $text_green;
}

li {
  list-style-type: square;
  margin-left: 17px;
  line-height: 1.4em;
  padding-bottom: 0.5em;
  font-size: 0.9em;
}

.footer {
  font-family: Georgia;

  $footer_background_color: lighten($text_color, 50%);
  $footer_text_color: darken($background_color, 5%);

  @include box-shadow(0 3px 3px 0 darken($footer_background_color, 5%) inset);

  margin-top: 50px;
  clear: both;
  background-color: $footer_background_color;
  color: $footer_text_color;
  text-align: center;

  .quote-source {
    display: inline-block;
    float: right;
    margin: 0.2em 1.5em 2em;
    &::before {
      content: "\2014";
      margin-right: 0.5em;
    }
  }

  blockquote {
    margin: 1em 2em 0 1em;
    font-size: 2em;

    &::before {
      content: open-quote;
      font-size: 2.5em;
      line-height: 0.1em;
      vertical-align: -0.3em;
      margin-right: 0.15em;
    }
  }
}
