/* minimal reset from: https://alligator.io/css/minimal-css-reset/ */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* end reset */

/* colours: https://en.wikipedia.org/wiki/List_of_software_palettes#Microsoft_Windows_default_20-color_palette */
$white: #ffffff;
$light-grey: #c0c0c0;
$dark-grey: #A0A0A4;
$black: #000000;
$blue: #0000ff;

$sans-serif: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
$serif: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;

body {
  border: solid 3px $light-grey;

  min-height: 100vh;

  font-family: $serif;

  padding-left: 1rem;

  display: flex;
  flex-flow: column nowrap;
}

nav {
  display: flex;
  flex-flow: row wrap;

  > :not(:last-child) {
    margin-right: 1rem;
  }
  padding-left: 1px;
}

.button-group {
  display: flex;
}

.button {
  background-color: $light-grey;
  color: $black;
  
  text-decoration: none;
  display: block;
  box-shadow: 0 1px 0 0 $black,
    0 -1px 0 0 $black,
    1px 0 0 0 $black,
    -1px 0 0 0 $black;
  
  border: 1px solid;
  border-color: $white $dark-grey $dark-grey $white;
  
  font-size: 14px;
  font-family: $sans-serif; 
  padding: 4px 8px 2px;

  margin-top: 0.4rem;
  
  &::first-letter {
    text-decoration: underline;
  }
  
  &:active {
    border-color: $dark-grey $white $white $dark-grey;
  }
}

h1 {
  background-color: $black;
  color: $white;
  width: 100%;
  padding: 0.3em 0.4em 0.1em;
  font-weight: 500;
  font-size: 2.6em;
  margin-top: 0.7rem;
}

.content {
  margin-top: 0.5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  .multimedia {
    flex: 1 auto;
    max-width: 20rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;

    .button {
      margin-top: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      margin: 1px 1px 0.4rem 1px;

      &::after {
        content:url('/photo-button.png');
        width: 26px;
        height: 18px;
      }
    }
  }

  .text {
    flex: 2 0px;
    min-width: 40rem;
    padding: 0 1rem;
    font-size: 1.2em;
    line-height: 1.3em;

    p:not(:last-child) {
      margin-bottom: 1.3em;
    }
  }
}

.photo-callout {
  font-family: $sans-serif;
  font-size: 0.7em;
  display: flex;
  align-items: baseline;

  &::before {
    content:url('/photo-body-text.png');
    width: 31px;
    height: 15px;
    margin-right: 0.3em;
  }
}