$content_width: 800px;
$image_width: 245px;

$gutter_width: 20px;

$text_color: #111111;
$border_color: lighten($text_color, 70%);

.content {
  width: 800px;
  margin: 0 auto;
  padding-top: 40px;
  overflow: hidden;
}

h1 {
  padding-bottom: 25px;
  margin-bottom: 30px;
  border-bottom: 1px solid $border_color;
  box-shadow: 0 2px 3px -2px $border_color;
}

.profile_image {
  display: block;
  float: left;
  width: $image_width;
}

.bio {
  float: left;
  width: $content_width - $image_width - $gutter_width;
  margin: 0 $gutter_width / 2;
  p {
    margin-left: 20px;
  }
}

.subsection {
  float: left;
  width: $content_width / 3 - $gutter_width;
  margin: 2em 28px 0 0;

  &:last-of-type {
    margin-right: 0;
  }
}
