<!DOCTYPE html>
<html>
  <head>
    <title>John Barton - Engineering Lead</title>
    <link href="/stylesheets/styles.css" rel="stylesheet" type="text/css">

    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="description" content="Hi, I'm John Barton. Right now I head up the engineering team at 99designs where I herd people and ship the odd bit of Ruby and Go code. My true passion is boring friends and co-workers with slideshow presentations of Nautical History Facts." />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@johnbarton">
    <meta name="twitter:title" content="John Barton - Engineering Lead">
    <meta name="twitter:description" content="Hi, I'm John Barton. Right now I head up the engineering team at 99designs where I herd people and ship the odd bit of Ruby and Go code. My true passion is boring friends and co-workers with slideshow presentations of Nautical History Facts.">
    <meta name="twitter:creator" content="@johnbarton">
    <-- Twitter Summary card images must be at least 120x120px -->
    <meta name="twitter:image" content="https://johnbarton.co/john-barton-dithered.png">

    <!-- Open Graph data -->
    <meta property="og:title" content="John Barton - Engineering Lead" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://johnbarton.co/" />
    <meta property="og:image" content="https://johnbarton.co/john-barton-dithered.png" />
    <meta property="og:description" content="Hi, I'm John Barton. Right now I head up the engineering team at 99designs where I herd people and ship the odd bit of Ruby and Go code. My true passion is boring friends and co-workers with slideshow presentations of Nautical History Facts." /> 
    <meta property="og:site_name" content="johnbarton.co" />
  </head>

  <body>
    <nav>
      <a href="/" class="button">Home</a>

      <div class="button-group">
        <a href="https://medium.com/@johnbarton" class="button">Medium</a>
        <a href="https://github.com/joho" class="button">Github</a>
      </div>

      <div class="button-group">
        <a href="http://goodreads.com/johnbarton" class="button">Goodreads</a>
        <a href="http://blog.whoisjohnbarton.com/" class="button">Tumblr</a>
        <a href="https://au.linkedin.com/in/johnbarton" class="button">Linkedin</a>
      </div>

      <div class="button-group">
        <a href="javascript:history.back()" class="button">Go Back</a>
        <a href="http://info.cern.ch/hypertext/WWW/TheProject.html" class="button">&lt; A</a>
        <a href="http://hmpg.net/" class="button">Z &gt;</a>
      </div>

      <a href="https://www.beyondblue.org.au/" class="button">Help</a>
    </nav>

    <h1>John Barton</h1>

    <div class="content">
      <div class="multimedia">
        <img alt="John Barton" src="/john-barton-dithered.png">
        <div class="button">At home, with books</div>
      </div>

      <div class="text">
          <div class="photo-callout">At home, with books</div>
          <p>Hi, I'm John Barton, Engineering Manager and obvious Microsoft Encarta<sup>&reg;</sup> enthusiast. Right now I head up the engineering team at <a href="https://99designs.com">99designs</a> where I herd people and ship the odd bit of Ruby and Go code. My true passion is boring friends and co-workers with slideshow presentations of Nautical History Facts.</p>
            
          <p>I've spent most of my career leading small to mid-sized teams with a focus on developer-driven ops. Before 99 I was co-founder of the film centric social network <a href="https://goodfil.ms/">Goodfilms</a> with the inestimable <a href="https://glenmaddern.com/">Glen Maddern</a> and <a href="https://charliegleason.com/">Charlie Gleason</a>. Even before that, I led engineering for <a href="https://market.envato.com">the Envato marketplaces</a>. I did even more things before that which you can scroll through at your leisure on <a href="http://au.linkedin.com/in/johnbarton">my Linkedin</a>.</p>

          <p>I maintain a few open source libraries and hobby projects. <a href="https://github.com/joho/godotenv">godotenv</a> is a reasonably popular port of the much more popular Ruby dotenv project. <a href="https://github.com/joho/letour">letour</a> is a website I refresh annually that lets Aussies sleep through the Tour de France and catch the highlight reel in the morning without spoiling the result. <a href="https://github.com/joho/sqltocsv">sqltocsv</a> is a handy little Go library to make it easy to do spreadsheet exports from your database. My most popular project by far however is the sarcastic joke RFC for the <a href="https://github.com/joho/7XX-rfc">7xx Developer Error HTTP status codes</a.></p>
      </div> 
    </div>
    
   
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-708262-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </body>
</html>
