<!DOCTYPE html>
<html>
  <head>
    <title>johnbarton.co</title>
    <link href="/stylesheets/styles.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="/stylesheets/narrow.css" media="screen and (max-width: 44em)">
    <link rel="stylesheet" href="/stylesheets/wide.css" media="screen and (min-width: 44em)">

    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <nav>
      <a href="#" class="button">Menu</a>

      <div class="button-group">
        <a href="#" class="button">Contents</a>
        <a href="#" class="button">Find</a>
      </div>

      <div class="button-group">
        <a href="#" class="button">Timeline</a>
        <a href="#" class="button">Gallery</a>
        <a href="#" class="button">Atlas</a>
      </div>

      <div class="button-group">
        <a href="#" class="button">Go Back</a>
        <a href="#" class="button">&lt; A</a>
        <a href="#" class="button">Z &gt;</a>
      </div>

      <a href="#" class="button">Help</a>
    </nav>

    <h1>John Barton</h1>

    <div class="content">
      <div class="multimedia">
        <img alt="John Barton" src="/john-barton-dithered.png">
        <div class="button">At home, with books</div>
      </div>

      <div class="text">
          <div class="photo-callout">At home, with books</div>
          <p>Microsoft Encarta was a digital multimedia encyclopedia published by Microsoft Corporation from 1993 to 2009. Originally available for sale on 2 to 4 CD-ROMs or a DVD, it was also later available on the World Wide Web via an annual subscription – although later many articles could also be viewed free online with advertisements.[1] By 2008, the complete English version, Encarta Premium, consisted of more than 62,000 articles,[2] numerous photos and illustrations, music clips, videos, interactive content, timelines, maps, atlases and homework tools.</p>
    
          <p>Microsoft published similar encyclopedias under the Encarta trademark in various languages, including German, French, Spanish, Dutch, Italian, Portuguese and Japanese. Localized versions contained contents licensed from national sources and more or less content than the full English version. For example, the Dutch version had content from the Dutch Winkler Prins encyclopedia.</p>
          
          <p>In March 2009, Microsoft announced it was discontinuing both the Encarta disc and online versions. The MSN Encarta site was closed on October 31, 2009 in all countries except Japan, where it was closed on December 31, 2009.[3][4] Microsoft continued to operate the Encarta online dictionary at dictionary.msn.com until 2011.</p>
      </div>
    </div>
    
   
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-708262-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </body>
</html>
