* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
	Margin, padding, and border resets
	except for form elements
*/

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
}

/*
	Consistency fixes
	adopted from http://necolas.github.com/normalize.css/
*/

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
audio,
canvas,
video {
  display: block;
}

body {
  background-color: #f0f0f0;
  color: #111111;
  font: 18px/1.4 "Helvetica Neue", Helvetica, sans-serif;
}

.profile_image {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.profile_image img {
  width: 100%;
}

.bio p:first-child {
  font-size: 21px;
}

.bio p:first-child a {
  font-weight: 600;
}

.bio p strong {
  font-weight: 600;
}

.bio p + p {
  margin-top: 20px;
}

.green {
  color: #2b8103;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 48px;
  font-weight: 300;
  line-height: 1;
}

h1 .who {
  font-weight: 300;
}

h1 .is {
  font-weight: 400;
}

h1 .john-barton {
  color: #3bb304;
  font-weight: 600;
  margin-left: 3px;
}

h1 .dot-com {
  font-weight: 800;
}

.subsection.words {
  clear: left;
}

h2 {
  font-size: 14px;
  line-height: 1;
  padding-bottom: 7px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 12px;
  border-bottom: 1px solid #c4c4c4;
  -webkit-box-shadow: 0 2px 3px -2px #c4c4c4;
  box-shadow: 0 2px 3px -2px #c4c4c4;
  color: #777777;
}

a {
  color: #2b8103;
  text-decoration: none;
  border-bottom: 1px dotted #2b8103;
}

li {
  list-style-type: square;
  margin-left: 17px;
  line-height: 1.4em;
  padding-bottom: 0.5em;
  font-size: 0.8em;
  color: #5e5e5e;
}

.footer {
  -webkit-box-shadow: 0 3px 3px 0 #6a6a6a inset;
  box-shadow: 0 3px 3px 0 #6a6a6a inset;
  font-weight: 300;
  color: #bbbbbb;
  margin-top: 50px;
  padding-top: 25px;
  padding-bottom: 50px;
  clear: both;
  background-color: #777777;
  text-align: center;
}

.footer a {
  color: #1c4f02;
  border-bottom: 1px dotted #1c4f02;
  font-weight: 400;
}

.footer .quote-source {
  display: inline-block;
  margin: 20px 0;
}

.footer .quote-source::before {
  content: "\2014";
  margin-right: 0.5em;
}

.footer blockquote {
  font-family: Georgia;
  font-size: 38px;
  line-height: 1.2;
}

.footer blockquote::before {
  content: "\201C";
  font-size: 2.5em;
  line-height: 0.1em;
  vertical-align: -0.3em;
  margin-right: 0.15em;
}