/* minimal reset from: https://alligator.io/css/minimal-css-reset/ */
html {
  box-sizing: border-box;
  font-size: 16px; }

*, *:before, *:after {
  box-sizing: inherit; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal; }

ol, ul {
  list-style: none; }

img {
  max-width: 100%;
  height: auto; }

/* end reset */
/* colours: https://en.wikipedia.org/wiki/List_of_software_palettes#Microsoft_Windows_default_20-color_palette */
body {
  border: solid 3px #c0c0c0;
  min-height: 100vh;
  min-width: 100vw;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  padding-left: 1rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column nowrap; }
  @media only screen and (max-width: 740px) {
    body {
      padding-left: 0.4rem; } }

nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  padding-left: 1px; }
  nav > :not(:last-child) {
    margin-right: 1rem; }

.button-group {
  display: -webkit-box;
  display: flex; }

.button {
  background-color: #c0c0c0;
  color: #000000;
  text-decoration: none;
  display: block;
  box-shadow: 0 1px 0 0 #000000, 0 -1px 0 0 #000000, 1px 0 0 0 #000000, -1px 0 0 0 #000000;
  border: 1px solid;
  border-color: #ffffff #A0A0A4 #A0A0A4 #ffffff;
  font-size: 14px;
  font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
  padding: 4px 8px 2px;
  margin-top: 0.4rem; }
  .button::first-letter {
    text-decoration: underline; }
  .button:active {
    border-color: #A0A0A4 #ffffff #ffffff #A0A0A4; }

h1 {
  background-color: #000000;
  color: #ffffff;
  width: 100%;
  padding: 0.3em 0.4em 0.1em;
  font-weight: 500;
  font-size: 2.6em;
  margin-top: 0.7rem; }

.content {
  margin-top: 0.5rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -webkit-box-pack: start;
          justify-content: flex-start;
  padding-right: 0.2rem; }
  @media only screen and (max-width: 740px) {
    .content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column; } }
  .content .multimedia {
    -webkit-box-flex: 1;
            flex: 1 auto;
    max-width: 20rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column nowrap;
    -webkit-box-align: stretch;
            align-items: stretch; }
    .content .multimedia .button {
      margin-top: 0;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center;
      -webkit-box-pack: justify;
              justify-content: space-between;
      margin: 1px 1px 0.4rem 1px; }
      .content .multimedia .button::after {
        content: url("/photo-button.png");
        width: 26px;
        height: 18px; }
  .content .text {
    -webkit-box-flex: 2;
            flex: 2 0px;
    padding: 0 1rem;
    font-size: 1.2em;
    line-height: 1.3em;
    max-width: 800px; }
    .content .text h2 {
      padding-bottom: 0.5em; }
    @media only screen and (max-width: 740px) {
      .content .text {
        padding: 0.3rem 0; } }
    .content .text li {
      margin-left: 1em; }
    .content .text ul {
      margin-bottom: 0.4em; }
      .content .text ul li {
        list-style-type: circle; }
    .content .text ol {
      margin-bottom: 0.4em; }
      .content .text ol li {
        list-style-type: decimal; }
    .content .text blockquote {
      border-left: solid 4px #c0c0c0;
      padding-left: 0.3em;
      margin-left: 1em; }
    .content .text p:not(:last-child) {
      margin-bottom: 1.3em; }
    .content .text a {
      color: #0000ff; }
      .content .text a:visited {
        color: #0000ff; }
      .content .text a:hover, .content .text a:active {
        -webkit-text-decoration-style: dotted;
                text-decoration-style: dotted; }

.photo-callout {
  font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
  font-size: 0.7em;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: baseline;
          align-items: baseline; }
  .photo-callout::before {
    content: url("/photo-body-text.png");
    width: 31px;
    height: 15px;
    margin-right: 0.3em; }
