.content {
  width: 800px;
  margin: 0 auto;
  padding-top: 40px;
  overflow: hidden;
}

h1 {
  padding-bottom: 25px;
  margin-bottom: 30px;
  border-bottom: 1px solid #c4c4c4;
  -webkit-box-shadow: 0 2px 3px -2px #c4c4c4;
  box-shadow: 0 2px 3px -2px #c4c4c4;
}

.profile_image {
  display: block;
  float: left;
  width: 245px;
}

.bio {
  float: left;
  width: 535px;
  margin: 0 10px;
}

.bio p {
  margin-left: 20px;
}

.subsection {
  float: left;
  width: 246.66667px;
  margin: 2em 28px 0 0;
}

.subsection:last-of-type {
  margin-right: 0;
}