body {
  font-family: Helvetica, Trebuchet MS, Arial, San Serif;
  color: #999;
  text-align: center; }

a {
  text-decoration: none; }

.content {
  text-align: center;
  width: 600px;
  margin: 60px, auto; }
  .content p {
    text-align: right;
    color: #444;
    width: 500px;
    float: right;
    margin-top: 20px;
    text-align: justify; }
    .content p .green {
      font-weight: bold; }

span {
  color: green; }
  .green a {
    color: green; }
  .green a:hover {
    text-decoration: underline; }

h1 {
  font-size: 3.4em;
  text-align: right;
}

ul {
  float: right;
  list-style-type: none; }

li {
  float: left;
  list-style-tipe: none;
  padding-right: 8px;
}

a.homelink {
  color: grey; }

